nodered.json
[
  {
    "id": "reset_temp_notification",
    "type": "inject",
    "z": "main_flow",
    "name": "Daily 15:00",
    "props": [],
    "repeat": "",
    "crontab": "00 15 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 120,
    "y": 60,
    "wires": [["reset_temp_boolean"]]
  },
  {
    "id": "reset_temp_boolean",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Turn Off temperature_notification_sent",
    "server": "home_assistant",
    "version": 1,
    "debugenabled": false,
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.temperature_notification_sent",
    "data": "",
    "x": 350,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "temp_notification_trigger",
    "type": "trigger-state",
    "z": "main_flow",
    "name": "Outdoor < Indoor for 10m",
    "server": "home_assistant",
    "entityid": "sensor.outdoortempcorrected",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "entity_id",
        "targetValue": "sensor.kitchen_temperature_zigbee_temperature",
        "propertyType": "current_state",
        "propertyValue": "",
        "comparatorType": "lt",
        "comparatorValueDatatype": "entity",
        "comparatorValue": "sensor.kitchen_temperature_zigbee_temperature"
      }
    ],
    "for": "600",
    "x": 150,
    "y": 120,
    "wires": [["temp_notification_check_flag"]]
  },
  {
    "id": "temp_notification_check_flag",
    "type": "api-current-state",
    "z": "main_flow",
    "name": "Notification Sent is Off?",
    "server": "home_assistant",
    "version": 1,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "input_boolean.temperature_notification_sent",
    "x": 400,
    "y": 120,
    "wires": [["temp_notification_time_check"], []]
  },
  {
    "id": "temp_notification_time_check",
    "type": "time-range-switch",
    "z": "main_flow",
    "name": "22:00-08:00?",
    "lat": "",
    "lon": "",
    "startTime": "22:00",
    "endTime": "08:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 650,
    "y": 120,
    "wires": [["set_volume_night"], ["set_volume_day"]]
  },
  {
    "id": "set_volume_night",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Set Volume 0",
    "server": "home_assistant",
    "service_domain": "media_player",
    "service": "volume_set",
    "data": "{\"volume_level\":0}",
    "target": {"device_id":"84e3190e0c083460b00173258b1942c3"},
    "x": 900,
    "y": 100,
    "wires": [["temp_notification_continue"]]
  },
  {
    "id": "set_volume_day",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Set Volume 1",
    "server": "home_assistant",
    "service_domain": "media_player",
    "service": "volume_set",
    "data": "{\"volume_level\":1}",
    "target": {"device_id":"84e3190e0c083460b00173258b1942c3"},
    "x": 900,
    "y": 140,
    "wires": [["temp_notification_continue"]]
  },
  {
    "id": "temp_notification_continue",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Turn On temperature_notification_sent",
    "server": "home_assistant",
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.temperature_notification_sent",
    "x": 1150,
    "y": 120,
    "wires": [["notify_matthew", "notify_mom", "tts_announce", "temp_notification_delay"]]
  },
  {
    "id": "notify_matthew",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Notify Matthew",
    "server": "home_assistant",
    "service_domain": "notify",
    "service": "mobile_app_matthews_iphone_2",
    "data": "{\"title\":\"Temperature Notification:\",\"message\":\"Inside it is currently {{states('sensor.kitchen_temperature_zigbee_temperature') }}°F Outside it is currently {{states('sensor.outdoortempcorrected') }}°F\"}",
    "x": 1450,
    "y": 80,
    "wires": [[]]
  },
  {
    "id": "notify_mom",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Notify Mom",
    "server": "home_assistant",
    "service_domain": "notify",
    "service": "mobile_app_moms_phone",
    "data": "{\"title\":\"Temperature Notification:\",\"message\":\"Inside it is currently {{states('sensor.kitchen_temperature_zigbee_temperature') }}°F Outside it is currently {{states('sensor.outdoortempcorrected') }}°F\"}",
    "x": 1450,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "tts_announce",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "TTS Announce",
    "server": "home_assistant",
    "service_domain": "tts",
    "service": "cloud_say",
    "data": "{\"cache\":false,\"entity_id\":\"media_player.matt_s_tab_s6_lite\",\"message\":\"It is currently {{states('sensor.kitchen_temperature_zigbee_temperature') }}°F Inside, and {{states('sensor.outdoortempcorrected') }}°F Outside.\"}",
    "x": 1450,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "temp_notification_delay",
    "type": "delay",
    "z": "main_flow",
    "name": "Delay 15s",
    "pauseType": "delay",
    "timeout": "15",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 1450,
    "y": 200,
    "wires": [["ac_cooling_check"]]
  },
  {
    "id": "ac_cooling_check",
    "type": "api-current-state",
    "z": "main_flow",
    "name": "AC Cooling?",
    "server": "home_assistant",
    "entity_id": "910b595fe4ad04f4bf97779b84a4c307",
    "property": "state",
    "x": 1700,
    "y": 200,
    "wires": [["ac_cooling_switch"]]
  },
  {
    "id": "ac_cooling_switch",
    "type": "switch",
    "z": "main_flow",
    "name": "Is Cool?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {"t":"eq","v":"cool","vt":"str"},
      {"t":"else"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1900,
    "y": 200,
    "wires": [["ac_turn_off"], ["temp_notification_1h_delay"]]
  },
  {
    "id": "ac_turn_off",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Turn Off AC",
    "server": "home_assistant",
    "service_domain": "climate",
    "service": "set_hvac_mode",
    "data": "{\"hvac_mode\":\"off\"}",
    "target": {"device_id":"b984c74946d748f7539854621bbe309e"},
    "x": 2100,
    "y": 180,
    "wires": [["ac_turn_off_delay"]]
  },
  {
    "id": "ac_turn_off_delay",
    "type": "delay",
    "z": "main_flow",
    "name": "Delay 3s",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "x": 2300,
    "y": 180,
    "wires": [["ac_off_tts"]]
  },
  {
    "id": "ac_off_tts",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "TTS: AC Off",
    "server": "home_assistant",
    "service_domain": "tts",
    "service": "cloud_say",
    "data": "{\"entity_id\":\"media_player.matt_s_tab_s6_lite\",\"message\":\"For your convenience I have turned off the air conditioning.\"}",
    "x": 2500,
    "y": 180,
    "wires": [["temp_notification_1h_delay"]]
  },
  {
    "id": "temp_notification_1h_delay",
    "type": "delay",
    "z": "main_flow",
    "name": "Delay 1h",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "hours",
    "x": 2100,
    "y": 240,
    "wires": [["turn_off_ac_sensor"]]
  },
  {
    "id": "turn_off_ac_sensor",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Turn Off ac_sensor",
    "server": "home_assistant",
    "service_domain": "input_boolean",
    "service": "turn_off",
    "entityId": "input_boolean.ac_sensor",
    "x": 2300,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "fan_mode_cancel",
    "type": "trigger-state",
    "z": "main_flow",
    "name": "Fan Mode On",
    "server": "home_assistant",
    "entityid": "climate.sensi_sensi_279414",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "attribute",
        "targetValue": "fan_mode",
        "propertyType": "current_state",
        "propertyValue": "",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "x": 120,
    "y": 320,
    "wires": [["fan_mode_cancel_delay"]]
  },
  {
    "id": "fan_mode_cancel_delay",
    "type": "delay",
    "z": "main_flow",
    "name": "Delay 15s",
    "pauseType": "delay",
    "timeout": "15",
    "timeoutUnits": "seconds",
    "x": 350,
    "y": 320,
    "wires": [["fan_mode_set_auto"]]
  },
  {
    "id": "fan_mode_set_auto",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Set Fan Mode Auto",
    "server": "home_assistant",
    "service_domain": "climate",
    "service": "set_fan_mode",
    "data": "{\"fan_mode\":\"auto\"}",
    "entityId": "climate.sensi_sensi_279414",
    "x": 600,
    "y": 320,
    "wires": [["fan_mode_notify"]]
  },
  {
    "id": "fan_mode_notify",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Notify Matthew Fan Auto",
    "server": "home_assistant",
    "service_domain": "notify",
    "service": "mobile_app_matthews_iphone_2",
    "data": "{\"message\":\"Fan Mode was set to “On” I have returned it to “Auto”\"}",
    "x": 850,
    "y": 320,
    "wires": [[]]
  },
  {
    "id": "ac_forgotten_trigger",
    "type": "trigger-state",
    "z": "main_flow",
    "name": "AC Forgotten Trigger",
    "server": "home_assistant",
    "entityid": "sensor.sensi_sensi_279414_temperature",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "value",
        "targetValue": "79",
        "propertyType": "current_state",
        "propertyValue": "",
        "comparatorType": "gt",
        "comparatorValueDatatype": "num",
        "comparatorValue": 79
      }
    ],
    "for": "300",
    "x": 120,
    "y": 400,
    "wires": [["ac_forgotten_check_ac"]]
  },
  {
    "id": "ac_forgotten_check_ac",
    "type": "api-current-state",
    "z": "main_flow",
    "name": "AC Off?",
    "server": "home_assistant",
    "entity_id": "910b595fe4ad04f4bf97779b84a4c307",
    "property": "state",
    "x": 350,
    "y": 400,
    "wires": [["ac_forgotten_check_flag"]]
  },
  {
    "id": "ac_forgotten_check_flag",
    "type": "api-current-state",
    "z": "main_flow",
    "name": "ac_sensor Off?",
    "server": "home_assistant",
    "entity_id": "input_boolean.ac_sensor",
    "property": "state",
    "x": 600,
    "y": 400,
    "wires": [["ac_forgotten_doors_check"]]
  },
  {
    "id": "ac_forgotten_doors_check",
    "type": "api-current-state",
    "z": "main_flow",
    "name": "Doors Closed?",
    "server": "home_assistant",
    "entity_id": "binary_sensor.front_door_sensor",
    "property": "state",
    "x": 850,
    "y": 400,
    "wires": [["ac_forgotten_doors_switch"]]
  },
  {
    "id": "ac_forgotten_doors_switch",
    "type": "switch",
    "z": "main_flow",
    "name": "Front Door Closed?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {"t":"eq","v":"off","vt":"str"},
      {"t":"else"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1100,
    "y": 400,
    "wires": [["ac_forgotten_back_door_check"], ["ac_forgotten_doors_open"]]
  },
  {
    "id": "ac_forgotten_back_door_check",
    "type": "api-current-state",
    "z": "main_flow",
    "name": "Back Door Closed?",
    "server": "home_assistant",
    "entity_id": "binary_sensor.back_door_sensor",
    "property": "state",
    "x": 1350,
    "y": 380,
    "wires": [["ac_forgotten_both_doors_switch"]]
  },
  {
    "id": "ac_forgotten_both_doors_switch",
    "type": "switch",
    "z": "main_flow",
    "name": "Back Door Closed?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {"t":"eq","v":"off","vt":"str"},
      {"t":"else"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1600,
    "y": 380,
    "wires": [["ac_forgotten_doors_closed"], ["ac_forgotten_doors_open"]]
  },
  {
    "id": "ac_forgotten_doors_closed",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Set AC Cool 80°F",
    "server": "home_assistant",
    "service_domain": "climate",
    "service": "set_hvac_mode",
    "data": "{\"hvac_mode\":\"cool\"}",
    "target": {"device_id":"b984c74946d748f7539854621bbe309e"},
    "x": 1850,
    "y": 360,
    "wires": [["ac_forgotten_set_temp"]]
  },
  {
    "id": "ac_forgotten_set_temp",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Set Temp 80°F",
    "server": "home_assistant",
    "service_domain": "climate",
    "service": "set_temperature",
    "data": "{\"temperature\":80}",
    "target": {"device_id":"b984c74946d748f7539854621bbe309e"},
    "x": 2100,
    "y": 360,
    "wires": [["ac_forgotten_tts"]]
  },
  {
    "id": "ac_forgotten_tts",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "TTS: AC Set",
    "server": "home_assistant",
    "service_domain": "tts",
    "service": "cloud_say",
    "data": "{\"cache\":false,\"entity_id\":\"media_player.matt_s_tab_s6_lite\",\"message\":\"It seems you may have forgot to turn the air conditioning on today. For your convenience I have set the air conditioning to 80°F\"}",
    "x": 2350,
    "y": 360,
    "wires": [["ac_forgotten_notify_matthew", "ac_forgotten_notify_mom", "ac_forgotten_turn_on_flag"]]
  },
  {
    "id": "ac_forgotten_notify_matthew",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Notify Matthew AC Set",
    "server": "home_assistant",
    "service_domain": "notify",
    "service": "mobile_app_matthews_iphone_2",
    "data": "{\"message\":\"The Thermostat has been set to Cool at 80°F\"}",
    "x": 2600,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "ac_forgotten_notify_mom",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Notify Mom AC Set",
    "server": "home_assistant",
    "service_domain": "notify",
    "service": "mobile_app_moms_phone",
    "data": "{\"message\":\"The Thermostat has been set to Cool at 80°F\"}",
    "x": 2600,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "ac_forgotten_turn_on_flag",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Turn On ac_sensor",
    "server": "home_assistant",
    "service_domain": "input_boolean",
    "service": "turn_on",
    "entityId": "input_boolean.ac_sensor",
    "x": 2600,
    "y": 420,
    "wires": [[]]
  },
  {
    "id": "ac_forgotten_doors_open",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "TTS: Close Doors",
    "server": "home_assistant",
    "service_domain": "tts",
    "service": "cloud_say",
    "data": "{\"cache\":false,\"entity_id\":\"media_player.matt_s_tab_s6_lite\",\"message\":\"I recommend closing the doors and turning on the air conditioning. If you close the doors within the next 5 minutes I can set the air conditioning to 80°F for you.\"}",
    "x": 1350,
    "y": 440,
    "wires": [["ac_forgotten_wait_doors"]]
  },
  {
    "id": "ac_forgotten_wait_doors",
    "type": "ha-wait-until",
    "z": "main_flow",
    "name": "Wait Until Both Doors Closed (5m)",
    "server": "home_assistant",
    "outputs": 2,
    "entityId": "binary_sensor.front_door_sensor",
    "entityId2": "binary_sensor.back_door_sensor",
    "property": "state",
    "value": "off",
    "timeout": "300",
    "timeoutType": "num",
    "timeoutUnits": "seconds",
    "x": 1700,
    "y": 440,
    "wires": [["ac_forgotten_doors_closed"], ["ac_forgotten_timeout_notify"]]
  },
  {
    "id": "ac_forgotten_timeout_notify",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Notify Timeout",
    "server": "home_assistant",
    "service_domain": "notify",
    "service": "mobile_app_matthews_iphone_2",
    "data": "{\"message\":\"Timeout: The doors were not closed in time, AC was not set.\"}",
    "x": 2100,
    "y": 480,
    "wires": [[]]
  },
  {
    "id": "thermostat_fault_check",
    "type": "trigger-state",
    "z": "main_flow",
    "name": "ac_sensor On",
    "server": "home_assistant",
    "entityid": "input_boolean.ac_sensor",
    "entityidfiltertype": "exact",
    "debugenabled": false,
    "constraints": [
      {
        "targetType": "value",
        "targetValue": "on",
        "propertyType": "current_state",
        "propertyValue": "",
        "comparatorType": "is",
        "comparatorValueDatatype": "str",
        "comparatorValue": "on"
      }
    ],
    "x": 120,
    "y": 600,
    "wires": [["thermostat_fault_delay"]]
  },
  {
    "id": "thermostat_fault_delay",
    "type": "delay",
    "z": "main_flow",
    "name": "Delay 5m30s",
    "pauseType": "delay",
    "timeout": "330",
    "timeoutUnits": "seconds",
    "x": 350,
    "y": 600,
    "wires": [["thermostat_fault_loop"]]
  },
  {
    "id": "thermostat_fault_loop",
    "type": "function",
    "z": "main_flow",
    "name": "Retry AC On Loop",
    "func": "// Pseudo-loop: will call set temp, then check state, and repeat if not cool\nmsg.loop = msg.loop || 0;\nif (msg.loop > 10) return null; // avoid infinite loop\nmsg.loop++;\nreturn msg;",
    "outputs": 1,
    "x": 600,
    "y": 600,
    "wires": [["thermostat_fault_set_temp"]]
  },
  {
    "id": "thermostat_fault_set_temp",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Set AC Cool 80°F",
    "server": "home_assistant",
    "service_domain": "climate",
    "service": "set_temperature",
    "data": "{\"hvac_mode\":\"cool\",\"temperature\":80}",
    "target": {"device_id":"b984c74946d748f7539854621bbe309e"},
    "x": 850,
    "y": 600,
    "wires": [["thermostat_fault_check_state"]]
  },
  {
    "id": "thermostat_fault_check_state",
    "type": "api-current-state",
    "z": "main_flow",
    "name": "AC Cooling?",
    "server": "home_assistant",
    "entity_id": "910b595fe4ad04f4bf97779b84a4c307",
    "property": "state",
    "x": 1100,
    "y": 600,
    "wires": [["thermostat_fault_switch"]]
  },
  {
    "id": "thermostat_fault_switch",
    "type": "switch",
    "z": "main_flow",
    "name": "Is Cool?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {"t":"eq","v":"cool","vt":"str"},
      {"t":"else"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1350,
    "y": 600,
    "wires": [[], ["thermostat_fault_notify_retry"]]
  },
  {
    "id": "thermostat_fault_notify_retry",
    "type": "api-call-service",
    "z": "main_flow",
    "name": "Notify Matthew Retry",
    "server": "home_assistant",
    "service_domain": "notify",
    "service": "mobile_app_matthews_iphone_2",
    "data": "{\"message\":\"AC Failed to turn on, trying again\"}",
    "x": 1600,
    "y": 620,
    "wires": [["thermostat_fault_loop"]]
  }
]